@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    padding:30px;

    background:
    linear-gradient(rgba(15,23,42,.82),rgba(30,41,59,.85)),
    url("https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;
}

.container{

    width:100%;
    max-width:550px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:22px;

    padding:35px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);
}

h2{

    text-align:center;

    margin-bottom:25px;

    font-size:34px;

    text-shadow:0 0 12px #38bdf8;
}

input{

    width:100%;

    padding:15px;

    border:none;

    outline:none;

    border-radius:12px;

    font-size:16px;

    color:white;

    background:rgba(255,255,255,.10);

    border:1px solid rgba(255,255,255,.15);

    transition:.3s;
}

input::placeholder{

    color:#d1d5db;
}

input:focus{

    border:1px solid #38bdf8;

    box-shadow:0 0 15px rgba(56,189,248,.4);

    transform:scale(1.02);
}

button{

    width:100%;

    margin-top:18px;

    padding:15px;

    border:none;

    border-radius:40px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    color:white;

    background:linear-gradient(135deg,#7c3aed,#2563eb);

    transition:.3s;
}

button:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 30px rgba(124,58,237,.45);
}

button:active{

    transform:scale(.96);
}


ul{

    list-style:none;

    margin-top:30px;
}

li{

    background:rgba(255,255,255,.10);

    padding:15px 18px;

    border-radius:12px;

    margin-bottom:12px;

    font-size:16px;

    border-left:5px solid #38bdf8;

    transition:.3s;
}

li:hover{

    transform:translateX(8px);

    background:rgba(56,189,248,.15);
}


@media(max-width:600px){

.container{

    padding:25px;
}

h2{

    font-size:28px;
}

}